html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    max-width: 1000px;
    margin: 0 auto;
  
}
.contenido{
    margin: 25px;
}
.contenedor-botones{
    margin: 25px;
}
footer{
     margin: 25px;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

a {
   
    font-size: large;
}
.titulo1{
    color: rgba(45, 45, 215, 0.712);
}
h2{
    color: #2d9730;
}
p {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .03rem;
    line-height: 3.8rem;
    color: rgb(57, 56, 56);

}
.boton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 30px;
}

/* Aplica estilos al checkbox y al label */
 input[type="checkbox"] {
    /* Cambia el tamaño del cuadro del checkbox */
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Agrega espacio entre el cuadro y el texto */
}

 label {
    /* Cambia el tamaño de la letra */
    font-size: 18px;
    vertical-align: middle; /* Centra verticalmente el texto con el cuadro */
}
.lista-porcientos li{
font-size: 16px;
}
details summary{
    font-size: 14px;
    margin-right: 0.5em;
    color: #204bb0;
}
#activo {
    padding: 5px; /* Aumenta el relleno interno para hacerlo más alto */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 300px; /* Ancho del campo */
   color: #2d9730;
   
}

/* estilos para api de noticias */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para cada noticia */
.article-container {
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.article-container p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* Estilos para el enlace de fuente */
.source-link {
    color: #0066cc;
    text-decoration: none;
}

.source-link:hover {
    text-decoration: underline;
}
